
table {
    padding: 30px;
    width: 500px;
    text-align: center;

}

th, td {
    border: 1px solid black;
    border-radius: 5px;
    background-radius: 5px;
    background-color: lightyellow;
    height: 30px;
}

body, html {
    height: 99%;
}

body {
    background-image: url("castle2.png");
    background-repeat: no-repeat;
    background-size: cover;
}


thead {
    font-weight: bold;
}

.form {
    background-color: lightyellow;
    border: 1px solid black;
    border-radius: 10px;
    background-radius: 10px;
    width: 300px;
    padding: 20px;
}

.field {
    margin: 10px;
}

.backgroundDiv {
    margin:0 auto;
    padding: 20px;

}

.errorLabel {
    color: red;
    font-size: 11px;
    margin: 0;
}



.option {
    background-color: red;
    color: blue;
}

.optionCOMMON {
    background-color: white;
}

.optionRARE {
    background-color: lightblue;
}

.optionEPIC {
    background-color: plum;
}

.optionLEGENDARY {
    background-color: peachpuff;
}

.option {
    background-color: red;
    color: blue;
}

.questCOMMON {
    background-color: white;
}

.questRARE {
    background-color: lightblue;
}

.questEPIC {
    background-color: plum;
}

.questLEGENDARY {
    background-color: peachpuff;
}

