
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add knight</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script th:src="@{webjars/jquery/3.4.1/jquery.min.js}"></script>

</head>
<body>
<div class="backgroundDiv" align="center">
    <table>
        <thead>
        <tr>
            <td>Opis</td>
            <td>Złoto</td>
            <td>Doświadczenie</td>
            <td>Czas trwania</td>
            <td></td>
        </tr>
        </thead>
        <tbody th:each="quest : ${availableQuests}">
        <tr th:class="'questRow' + ${quest.questTemplate.rarity}">
            <td th:class="'quest' + ${quest.questTemplate.rarity}" th:text="${quest.questTemplate.description}"/>
            <td th:class="'quest' + ${quest.questTemplate.rarity}" th:text="${quest.questTemplate.goldReward}"/>
            <td th:class="'quest' + ${quest.questTemplate.rarity}" th:text="${quest.questTemplate.expReward}"/>
            <td th:class="'quest' + ${quest.questTemplate.rarity}" th:text="${quest.questTemplate.length}"/>
            <td th:class="'quest' + ${quest.questTemplate.rarity}">
                <a th:href="@{/assignQuest(knightId=${knight.id}, questId=${quest.id})}"><button type="button">Ruszaj!</button></a>
            </td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/refreshQuests}" th:method="post">
        <input type="hidden" th:value="${knight.id}" name="knightId"/>
        <button type="submit">Szukaj nowych zadań</button>
    </form>
    <a th:href="@{/knights}"><button type="button">Powrót</button></a>
</div>
</body>
</html>