
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Knights list</title>
	<script th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
	<script th:src="@{webjars/jquery/3.4.1/jquery.min.js}"></script>
	<link rel="stylesheet" th:href="@{/style.css}"/>

</head>
<body>
	<div class="backgroundDiv" align="center">
		<a th:href="@{/checkQuests}"><button>Aktualizuj stan</button></a>
		<p th:text="'Złoto: ' + ${playerinformation.gold}"/>
		<table>
			<thead>
			<tr>
				<td>Imie</td>
				<td>Poziom</td>
				<td>Zadanie</td>
				<td>Sklep</td>
				<td colspan="2">Modyfikacja</td>
			</tr>
			</thead>
			<tbody th:each="knight: ${knights}">
			<tr>
				<td th:text="${knight.name}"/>
				<td th:text="${knight.level}"/>
				<td>
					<span th:if="${knight.quest == null}">Brak zadania <a th:href="@{/assignQuest(knightId=${knight.id})}">(przydziel)</a></span>
					<span th:if="${knight.quest != null}" th:text="${knight.quest}"/>
				</td>
				<td><a th:href="@{'/shop/' + ${knight.id}}">Kup przedmioty</a></td>
				<td><a th:href="@{/knight(knightId=${knight.id})}">Podglad</a></td>
				<td><a th:href="${'/knight/delete/' + knight.id}">Usun</a></td>
			</tr>
			</tbody>
		</table>
	</div>
	<div align="center">
		<a href="/newknight"><button>Wyszkol nowego rycerza</button></a>
	</div>
</body>
</html>